<!DOCTYPE html>
<html
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="shortcut icon" href="/img/favicon.png" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Mil Sabores</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/style.css">
</head>
<body id="pageGerenteClientesActive">
	<div>
		<label class="sanduiche"> <span></span> <span></span> <span></span>
		</label>
	</div>
	<nav>
		<span> <a id="nomeSite" href="index.html">Mil Sabores</a>
		</span>
		<ul id="menu">
			<li><a class="aba1" href="/home">Início</a></li>
			<li><a class="aba6" href="/gerente/prato/listar">Pratos</a></li>
			<li><a class="aba7" href="/gerente/cliente/listar">Clientes</a></li>
			<li><a class="aba8" href="/pedido/listar_pendente">Pedidos</a></li>
			<li><a class="aba5" href="/sair">Sair</a></li>
		</ul>
	</nav>
	<p id="subTitle">Clientes Cadastrados</p>
	<section>
	<table id="tableLista" border="1">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nome</th>
				<th scope="col">CPF</th>
				<th scope="col">Data Nascimento</th>
				<th scope="col">Endereço</th>
				<th scope="col">Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente: ${listaClientes}">
				<td scope="row" th:text="${cliente.idCliente}"></td>
				<td scope="row" th:text="${cliente.nome}"></td>
				<td scope="row" th:text="${cliente.cpf}"></td>
				<td scope="row" th:text="${{cliente.dataNascimento}}"></td>
				<td scope="row" th:text="${cliente.endereco}"></td>
				<td scope="row" th:text="${cliente.email}"></td>
			</tr>
		</tbody>
	</table>
	</section>
	<footer>
		<span> <a href="https://www.tripadvisor.com.br"
			title="TripAdvisor"><img id="iconsLink"
				src="/img/tripAdvisor.Webp" /></a>
		</span> <span> <a href="https://www.facebook.com/" title="Facebook"><img
				id="iconsLink" src="/img/facebook.Webp" /></a>
		</span> <span> <a href="https://www.instagram.com/" title="Instagram"><img
				id="iconsLink" src="/img/instagram.Webp" /></a>
		</span> <br>By Tiago A. Fontenele <br> Fone: (99) 9 9999-9999 <br>
		2019
	</footer>

	<script src="/js/jquery.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/jQueryMask.js"></script>
	<script src="/js/scriptsJQuery.js"></script>
</body>
</html>