<!DOCTYPE html>
<html
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="shortcut icon" href="/img/favicon.png" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Mil Sabores</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/style.css">
</head>
<body id="pageSobreActive">
	<div>
		<label class="sanduiche"> <span></span> <span></span> <span></span>
		</label>
	</div>
	<nav>
		<span> <a id="nomeSite" href="index.html">Mil Sabores</a>
		</span>
		<ul id="menu">
			<li><a class="aba1" href="/">Início</a></li>
			<li><a class="aba2" href="/sobre">Sobre</a></li>
			<li><a class="aba3" href="/pratos">Pratos</a></li>
			<li><a class="aba4" href="/contato">Contato</a></li>
			<li sec:authorize="!isFullyAuthenticated()"><a class="aba5" href="/entrar">Entrar</a></li>
<!--             <li sec:authorize="isFullyAuthenticated()"><a class="aba5" href="/sair">Sair</a></li> -->
		    <li sec:authorize="isFullyAuthenticated()"><a class="aba5" href="/redirect" th:text="${userLogado.nome}" ></a></li>
		</ul>
	</nav>

	<p id="subTitle">Sobre Nós</p>
	<section class="secInfo" id="info">
		<img id="imgLogo" src="/img/logo.png" alt="">
		<h3>Olá!</h3>
		<p>
			Nós do grupo Mil Sabores já estamos no mercado de alimentos desde
			1973. Hoje, já contamos com mais de 4 mil colaboradores em todo
			Brasil. Nosso restaurante dispõe de diversos pratos dos mais variados
			gostos e paladares. Contamos com os melhores chefes de cozinha para
			preparar a sua comida preferida, ou caso queira experimentar novos
			sabores. <br> Não perca tempo, faça seu pedido ou venha nos
			visitar!
		</p>
	</section>

	<section>
		<h3>Endereço</h3>
		<p>
			Rua xxxxxxxxxxxxxxxxxxxx, xxxx <br> CEP: xxxxx-xxxxx <br>
			Quixadá-CE
		</p>
	</section>

	<footer>
		<span> <a href="https://www.tripadvisor.com.br"
			title="TripAdvisor"><img id="iconsLink"
				src="/img/tripAdvisor.Webp" /></a>
		</span> <span> <a href="https://www.facebook.com/" title="Facebook"><img
				id="iconsLink" src="/img/facebook.Webp" /></a>
		</span> <span> <a href="https://www.instagram.com/" title="Instagram"><img
				id="iconsLink" src="/img/instagram.Webp" /></a>
		</span> <br>By Tiago A. Fontenele <br> Fone: (99) 9 9999-9999 <br>
		2019
	</footer>

	<script src="/js/jquery.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/jQueryMask.js"></script>
	<script src="/js/scriptsJQuery.js"></script>
</body>
</html>